/* .main_body{
    cursor: pointer;
} */

.main_nav{
    /* border: 2px solid black; */
    width: 90%;
    display: flex;
    align-items: center;
    margin: auto;
}

.nav1{
    /* border: 1px solid green; */
    width: 35%;
    display: flex;
    align-items: center;
    gap: 5px;
}

.nav1 i{
    cursor: pointer;
}

.nav1 a{
    text-decoration: none;
    color: #fe0606;
}

.side{
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    color: red;
    font-weight: 1000;
    font-size: 20px;
}

.nav2{
    /* border: 2px solid blue; */
    width: 30%;
    display: flex;
    gap: 30px;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    font-size: 16px;
    /* justify-content: space-around; */
}

.nav2 a{
    text-decoration: none;
    color: #808080;
} 

/* .nav2 a:hover{
    border: 1px solid lightgray;
    width: 25%;
    height: 50px;
    border-radius: 30px;
    background-color: lightgray;
} */

.nav3{
    /* border: 2px solid grey; */
    width: 22%;
    margin-left: 10%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.nav3_1{
    border: 1px solid black;
    width: 25%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 30px;
    /* gap: 5px; */
}

.search{
    border: 1px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    width: 60%;
    height: 65px;
    margin: auto;
    border-radius: 30px;
    display: flex;
}

.box_1{
    /* border: 1px solid green; */
    width: 30%;
    height: 65px;
    /* margin: auto */
    cursor: pointer;
    border-radius: 30px;
}

.box_2{
    /* border: 1px solid green; */
    width: 20%;
    height: 65px;
    /* margin: auto */
    cursor: pointer;
    border-radius: 30px;
}

.box_3{
    /* border: 1px solid green; */
    width: 20%;
    height: 65px;
    /* margin: auto */
    cursor: pointer;
    border-radius: 30px;
}

.box_4{
    /* border: 1px solid green; */
    width: 30%;
    height: 65px;
    /* margin: auto */
    cursor: pointer;
    border-radius: 30px;
}

.box_1 span{
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    font-size: 12px;
    position: relative;
    left: 24px;
    top: 10px;
    /* display: flex; */
}

.box_1:hover{
    background-color:  #e3e1e1;
}

.box_2:hover{
    background-color:  #e3e1e1;
}

.box_3:hover{
    background-color:  #e3e1e1;
}

.box_4:hover{
    background-color:  #e3e1e1;
}

.box_2 span{
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    font-size: 12px;
    position: relative;
    left: 20px;
    top: 10px;
    /* display: flex; */
}

.box_3 span{
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    font-size: 12px;
    position: relative;
    left: 20px;
    top: 10px;
    /* display: flex; */
}

#imag{
    width: 25px;
}

.box_4 span{
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    font-size: 12px;
    position: relative;
    left: 20px;
    top: 10px;
    /* display: flex; */
}

.box_4 .i {
    background-color: #ff385c;
    border-radius: 50px;
    text-align: center;
    /* margin-top: 5px; */
    /* margin: auto; */
    height: 50px;
    width: 50px;
    position: absolute;
    right: 44vh;
    top: 12.5vh;
    /* display: flex; */
    /* align-items: center; */
    /* padding-left: 10px; */
    /* gap: 10px; */
}

.box_4 i{
    padding-top: 22px;
}

.hr_line{
    border: 1px solid rgb(228, 221, 221);
}

.icons_images{
    /* border: 1px solid lightgray; */
    position: relative;
    top: 20px;
    height: 55px;
    width: 90%;
    margin: auto;
    display: flex;
    /* justify-content: space-between; */
}

.ic-im1{
    /* border: 1px solid green; */
    height: 55px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 20px; */
}

.im1{
    width: 10%;
    /* border: 1px solid green; */
}

.im1:hover{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: pointer;
}

.im1 span{
    font-size: 12px;
}

.img_css{
    height: 22px;
}

.im1 span{
    font-weight: bold;
    color: #808080;
}

.ic-im2{
    /* border: 1px solid green; */
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.icc {
    border: 1px solid black;
    /* background-color: #e5c5cb;    */
    border-radius: 50px;
    text-align: center;
    height: 25px;
    width: 25px;
    position: relative;
}

.icc i{
    padding-top: 5px;
}

.filters{
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    border: 1px solid rgb(177, 177, 177);
    height: 40px;
    width: 75px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: bold; 
    border-radius: 10px;  
}

.filters:hover{
    border: 1px solid black;
    cursor: pointer;
}

.display{
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    border: 1px solid rgb(177, 177, 177);;
    height: 40px;
    width: 220px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: bold; 
    border-radius: 10px;  
}

.display:hover{
    border: 1px solid black;
    cursor: pointer;
}


/* Personal info styling */



.section_1{
    /* border: 1px solid lightgray; */
    height: 100vh;
    margin: 5vh 0 0 25vh;
    width: 42%;
}

.acc{
    /* border: 1px solid black; */
    width: 35%;
    display: flex;
    gap: 15px;
    margin-left: 20px;
}

.acc span{
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    /* font-weight: 600; */
    font-size: 15px;
}

.perinf{
    /* border: 1px solid black; */
    margin: 15px 0 0 20px;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    font-size: 30px;
    color:rgb(72, 72, 72);
    font-weight: 600;
}

.sec_1{
    /* border: 1px solid black; */
    margin-top: 50px;
    height: 80vh;
}

.boxs_1{
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    color: rgb(34, 34, 34);
}

.boxs_1 span{
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    font-size: 16px;
    color:rgb(54, 54, 54);
}

#box{
    position: relative;
    top: 3px;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
    color:rgb(92, 91, 91);
    
}

#edit{
    position: relative;
    top: 8px;
    text-decoration: underline;
    cursor: pointer;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    font-weight: bold;
    font-size: 14px;
}

.line{
    border: 1px solid lightgray;
    position: relative;
    top: 20px;
}

.boxs_2{
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    color: rgb(34, 34, 34);
    position: relative;
    top: 35px;
}

.boxs_2 span{
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    font-size: 16px;
    color:rgb(54, 54, 54);
}

#boxe{
    position: relative;
    top: 3px;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
    color:rgb(92, 91, 91);
    
}

#edit_1{
    position: relative;
    top: 8px;
    text-decoration: underline;
    cursor: pointer;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    font-weight: bold;
    font-size: 14px;
}

.line_1{
    border: 1px solid lightgray;
    position: relative;
    top: 55px;
}

.boxs_3{
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    color: rgb(34, 34, 34);
    position: relative;
    top: 11vh;
}

.boxs_3 span{
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    font-size: 16px;
    color:rgb(54, 54, 54);
}

#boxe1{
    position: relative;
    top: 3px;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
    color:rgb(92, 91, 91);
}

#edit_2{
    position: relative;
    top: 8px;
    text-decoration: underline;
    cursor: pointer;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    font-weight: bold;
    font-size: 14px;
}

.line_2{
    border: 1px solid lightgray;
    position: relative;
    top: 14vh;
}

/*  */

.boxs_4{
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    color: rgb(34, 34, 34);
    position: relative;
    top: 16vh;
}

.boxs_4 span{
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    font-size: 16px;
    color:rgb(54, 54, 54);
}

#boxe2{
    position: relative;
    top: 3px;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
    color:rgb(92, 91, 91);
    
}

#edit_3{
    position: relative;
    top: 8px;
    text-decoration: underline;
    cursor: pointer;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    font-weight: bold;
    font-size: 14px;
}

.line_3{
    border: 1px solid lightgray;
    position: relative;
    top: 20vh;
}

/*  */
.boxs_5{
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    color: rgb(34, 34, 34);
    position: relative;
    top: 22vh;
}

.boxs_5 span{
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    font-size: 16px;
    color:rgb(54, 54, 54);
}

#boxe3{
    position: relative;
    top: 3px;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
    color:rgb(92, 91, 91);
    
}

#edit_4{
    position: relative;
    top: 8px;
    text-decoration: underline;
    cursor: pointer;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    font-weight: bold;
    font-size: 14px;
}

.line_4{
    border: 1px solid lightgray;
    position: relative;
    top: 27vh;
}
/*  */

.boxs_6{
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    color: rgb(34, 34, 34);
    position: relative;
    top: 29vh;
}

.boxs_6 span{
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    font-size: 16px;
    color:rgb(54, 54, 54);
}

#boxe4{
    position: relative;
    top: 3px;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
    color:rgb(92, 91, 91);
    
}

#edit_5{
    position: relative;
    top: 8px;
    text-decoration: underline;
    cursor: pointer;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    font-weight: bold;
    font-size: 14px;
}

.line_5{
    border: 1px solid lightgray;
    position: relative;
    top: 34vh;
}
/*  */

.boxs_7{
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    color: rgb(34, 34, 34);
    position: relative;
    top: 36vh;
}

.boxs_7 span{
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    font-size: 16px;
    color:rgb(54, 54, 54);
}

#boxe5{
    position: relative;
    top: 3px;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
    color:rgb(92, 91, 91);
    
}

#edit_6{
    position: relative;
    top: 8px;
    text-decoration: underline;
    cursor: pointer;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    font-weight: bold;
    font-size: 14px;
}

.line_6{
    border: 1px solid lightgray;
    position: relative;
    top: 40vh;
}

.section_2 {
    border: 1px solid black;
    height: 100vh;
    width: 23%;
    position: absolute;
    top: 32vh;
    margin: 0 50px 0 55rem;
    border-radius: 20px;
}

.icon{
    position: relative;
    top: 5vh;
    left: 3vh;
}

.section_2 div span{
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    font-size: 18px;
    font-weight: 600;
    position: relative;
    top: 8vh;
    left: 3vh;
}

#spam{
    color:rgb(92, 91, 91);
    font-size: 15px;
    font-weight: 500;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    position: relative;
    top: 12vh;
}

.border_line{
    border: 1px solid lightgray;
    width: 90%;
    margin: auto;
    position: relative;
    top: 17vh;
}

.para_2{
    position: relative;
    top: 18vh;
}

.para_3{
    position: relative;
    top: 35vh;
}

.footer{
    border: 1px solid #f7f7f7;
    width: 100%;
    position: relative;
    top: 25vh;
    height: 50vh;
    background-color: #f7f7f7;
}

.under_footer{
    /* border: 1px solid black;  */
    width: 80%;
    margin-left: 50px;
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 3vh;
}

.under_footer ul li{
    list-style-type: none;
    padding: 5px;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
    color: #717880;
    font-weight: 400;
}

.foot_line{
    border: 1px solid lightgray;
    width: 75%;
    position: relative;
    left: 25vh;
    top: 8vh;
}

.lst_foot{
    /* border: 1px solid black; */
    position: relative;
    top: 10vh;
    width: 75%;
    margin-left: 25vh;
    display: flex;
    justify-content: space-between;
}

.lst_foot span{
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
}

.link{
    /* border: 1px solid black; */
    width: 25%;
    display: flex;
    justify-content: space-evenly;
}

#min_link2{
    /* border: 1px solid blue; */
    display: flex;
    align-items: center;
    gap: 15px;
}


/* Wishlist styling */



.part_1{
    /* border: 1px solid lightgray; */
    width: 62%;
    height: 500px;
    position: relative;
    top: 5vh;
    left: 2vh;
}

.short{
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#flexy{
    position: relative;
    right: 10px;
    display: flex;
    gap: 30px;
}

.forms{
    position: relative;
    top: 5vh;
}

.forms span{
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    font-size: 25px;
    font-weight: 600;
}

.add{
    display: flex;
    position: relative;
    top: 8vh;
    gap: 10px;
}

.add span{
    border: 1px solid lightgray;
    width: 12%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 30px;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}

.cards{
    display: flex;
    gap: 20px;
}

.rows{
    /* border: 1px solid lightgray; */
    width: 31%;
    height: 50vh;
    position: relative;
    top: 15vh;
}

#image{
    width: 100%;
    border-radius: 20px;
}

.span_flex{
    display: flex;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: 400;
    justify-content: space-between;
    position: relative;
    top: 5px;
}

#flex1{
    display: flex;
    gap: 5px;
}

.conty span{
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
    color: #717880;
    position: relative;
    top: 10px;
}

.part_2{
    /* border: 1px solid black; */
    width: 36%;
    height: 83vh;
    position: absolute;
    top: 15vh;
    right: 5px;
}

#iamg{
    width: 100%;
}